[Unit]
Description=mongodb
Requires=network-online.target
Wants=docker.service
After=docker.service network-online.target

[Service]
Restart=always
RestartSec=5
Environment=DOCKER_IMAGE=spkane/mongo:3.2
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=-/usr/bin/docker pull ${DOCKER_IMAGE}
ExecStart=/usr/bin/docker run \
    --name %p \
    --rm \
    --net=host \
    --publish 27017:27017 \
    --volume /opt/mongodb/data/db:/data/db \
    ${DOCKER_IMAGE} mongod --smallfiles --oplogSize 128 --replSet rs0
ExecReload=/usr/bin/docker restart %p
ExecStop=/usr/bin/docker stop %p
ExecStopPost=-/usr/bin/docker rm %p

[Install]
WantedBy=multi-user.target
