[Unit]
Description=rocketchat
Requires=network-online.target
Wants=docker.service mongodb.service
After=docker.service mongodb.service network-online.target

[Service]
Restart=always
RestartSec=5
Environment=DOCKER_IMAGE=rocketchat/rocket.chat:0.61.0
EnvironmentFile=/etc/data/external-ip
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=-/usr/bin/docker pull ${DOCKER_IMAGE}
ExecStartPre=-mongo 127.0.0.1/rocketchat --eval "rs.initiate({ _id: 'rs0', members: [ { _id: 0, host: '127.0.0.1:27017' } ]})"
ExecStart=/usr/bin/docker run \
    --name %p \
    --rm \
    --net=host \
    --publish 3000:3000 \
    -e BIND_IP=0.0.0.0 \
    -e PORT=3000 \
    -e ROOT_URL=http://${EXT_IP}:3000 \
    -e MONGO_URL=mongodb://127.0.0.1:27017/rocketchat \
    -e MONGO_OPLOG_URL=mongodb://127.0.0.1:27017/local \
    -e MAIL_URL=smtp://smtp.email \
    --volume "/opt/rocketchat/data/uploads:/app/uploads" \
    ${DOCKER_IMAGE}
ExecReload=/usr/bin/docker restart %p
ExecStop=/usr/bin/docker stop %p
ExecStopPost=-/usr/bin/docker rm %p

[Install]
WantedBy=multi-user.target
